html,body{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,li{
  padding: 0;
  margin: 0;
  height: 100%;
}
.content { 
  position:absolute; 
  width:100%; 
  height:100%; 
  top:0; 
  left:0; 
  overflow:hidden; 
}
/* .inner{
  position:absolute; 
  width:100%; 
  height:100%; 
  top:0; 
  left:0;
} */
#makePhoster{ 
  display:block
}
#createPhoster{ 
  display:none
}
.templateDiv {
  position: relative;
  height: 75%;
  /* background-color: #F1F1F1; */
  padding: 0 8%;
  border-bottom: 1px solid #B1AFAF;
}
.selectDiv {
  height: 17%;
  border-bottom: 1px solid #B1AFAF;
}
.selectDiv img {
  margin: 6% 3.3%;
  border-bottom: 6px solid transparent;
}
.tabDiv {
  height: 8%;
  font-size: 28px;
  color: #B0A0CC;
}
.tabItem {
  padding: 0 2%;
  overflow: hidden;
}
.tabItem span {
  height: 48%;
  line-height: 48.5%;
  margin: 0 4%;
  display: inline-block;
  width: 24%;
  text-align: center;
}
.button {
  background-color: #7B60AA;
  border: none;
  color: #ffffff;
  font-size: 28px;
  height: 100%;
  width: 30%;
}
.bgImg{
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.parentHeight{
  height: 100%;
}
.selectTab {
  color: #7B60AA;
  border-bottom: 5px solid #7B60AA;
}
#templateCon li{
  display: none;
  list-style:none;
}
.selectImg {
  border-bottom: 6px solid #7B60AA !important;
}
#templateCon li.show {
  display: block;
}
#ImgCon {
  height: 100%;
  position: relative;
  /* width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}
#ImgCon li{
  display: none;
  height: 100%;
  list-style:none;
}
#ImgCon li.show {
  display: block;
  position: relative;
}
#gesture-area {
  position:absolute; 
  width:40%; 
  height:30%; 
  top:20%; 
  left:50%; 
  overflow:hidden; 
  z-index:99; 
}
.upimg { 
  position:absolute; 
  top:30%; 
  left:59%; 
  margin: 0;
  z-index: -1;
}
#inputimg {
  position: absolute; 
  top:28%; 
  left:58%; 
  margin: 0; 
  z-index:100; 
  opacity:0;
}
.upButton{ 
  width:180px; 
  height:180px; 
  border:1px solid #333; 
  border-radius:10px; 
  line-height:180px; 
  font-family:'微软雅黑'; 
  font-size:30px; 
  text-align:center; 
  color:#333;
}
.imgwrapper { 
  width:100%; 
  height:100%; 
  margin:auto;
}
.blessBtn {
  float: left;
  height: 100%;
  background-color: #7B60AA;
  color: #ffffff;
  width: 80px;
  font-size: 28px;
  padding: 0 2%;
  line-height: 170%;
  border: none;
}
.scrollDiv {
  height: 100%;
  overflow-x: scroll;
  padding: 25px 0;
}
.blessFont {
  margin: 15px;
  white-space : nowrap;
  height: 40%;
}
.blessFont span {
  background-color: #eeeeee;
  color: #7B60AA;
  font-size: 24px;
  white-space : nowrap;
  padding: 10px;
  margin: 0 10px;
  border: none;
  /* padding:  */
}
.selectFont{
  background-color: #7B60AA !important;
  color: #ffffff !important;
}
#blessOneDiv {
  font-family: "STKaiti";
  font-size: 30px;
  position: absolute;
  top: 372px;
  left: 100px;
  width: 328px;
  color: #724079;
  font-weight: bold;
  visibility: hidden;
}
#blessTwoDiv {
  font-family: "STKaiti";
  font-size: 28px;
  position: absolute;
  top: 152px;
  left: 150px;
  width: 466px;
  color: #ffcc66;
  font-weight: bold;
  visibility: hidden;
}
#blessThreeDiv{
  font-family: "STKaiti";
  font-size: 28px;
  position: absolute;
  top: 306px;
  left: 170px;
  width: 406px;
  color: #ffffff;
  font-weight: bold;
  visibility: hidden;
}
#blessFourDiv{
  font-family: "STKaiti";
  font-size: 28px;
  position: absolute;
  top: 496px;
  left: 150px;
  width: 474px;
  color:  #660066;
  font-weight: bold;
  visibility: hidden;
}
.blessTemplate {
  display:none;
  margin:20px;
}
.inputStyle {
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  outline: none;
  font-family: "STKaiti";
  border: 1px solid #bfbfbf;
}
.inputOneStyle {
  color: #724079;
}
.inputTwoStyle {
  color: #f4d776;
}
.inputThreeStyle {
  color: #ffffff;
}
.inputFourStyle {
  color: #521f3b;
}
.inputStyle::-webkit-input-placeholder{
  font-weight: 100;
}
.inputStyle::-moz-placeholder{
  font-weight: 100;
}
.inputStyle:-ms-input-placeholder{
  font-weight: 100;
}
.inputOneStyle::-webkit-input-placeholder{
  color: rgba(93,40,103,0.73);
}
.inputOneStyle::-moz-placeholder{
  color: rgba(93,40,103,0.73);    
}
.inputOneStyle:-ms-input-placeholder{
  color: rgba(93,40,103,0.73);      
}
.inputTwoStyle::-webkit-input-placeholder{
  color: rgba(243,213,117,0.53);
}
.inputTwoStyle::-moz-placeholder{
  color: rgba(243,213,117,0.53);
}
.inputTwoStyle:-ms-input-placeholder{
  color: rgba(243,213,117,0.53);
}
.inputThreeStyle::-webkit-input-placeholder{
  color: rgba(255,255,255,0.64);
}
.inputThreeStyle::-moz-placeholder{
  color: rgba(255,255,255,0.64);
}
.inputThreeStyle:-ms-input-placeholder{
  color: rgba(255,255,255,0.64);   
}
.inputFourStyle::-webkit-input-placeholder{
  color: rgba(82,31,59,0.87);
}
.inputFourStyle::-moz-placeholder{
  color: rgba(82,31,59,0.87);
}
.inputFourStyle:-ms-input-placeholder{
  color: rgba(82,31,59,0.87);
}
.toNameStyle {
  width: 216px;
  text-align: left;
}
.fromNameStyle {
  width: 190px;
  float: right;
  text-align: right;
  margin-right: 15px;
}

.loading{
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
.loading img{
  display: block;
}

/* #progressbar{
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-90px;
  margin-top:-10px;
  width:280px;
  height:20px;
  background-color: darkgray;
  border-radius: 5px;
} */
/*在进度条元素上调用动画*/
/* #fill{
  height:20px;
  animation: move 800ms infinite linear;
  text-align: center;
  background-color: #7B60AA;
} */
/*实现元素宽度的过渡动画效果*/
/* @keyframes move {
  0%{
      width:0;

  }
  100%{
      width:100%;
  }
}
@-webkit-keyframes move {
  0%{
      width:0;

  }
  100%{
      width:100%;
  }
} */
