html,body{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,li{
  padding: 0;
  margin: 0;
}
.content { 
  position:absolute; 
  width:100%; 
  height:100%; 
  top:0; 
  left:0; 
  overflow:hidden; 
}
#makePhoster{ 
  display:block
}
#createPhoster{ 
  display:none
}
.templateDiv {
  height: 75%;
  background-color: #F1F1F1;
  padding: 0 8%;
  border-bottom: 1px solid #B1AFAF;
}
.selectDiv {
  height: 17%;
  border-bottom: 1px solid #B1AFAF;
  padding: 0 5%;
}
.selectDiv img {
  margin: 6% 3.3%;
  border-bottom: 6px solid transparent;
}
.tabDiv {
  height: 8%;
  font-size: 28px;
  color: #B0A0CC;
}
.tabItem {
  padding: 0 2%;
  overflow: hidden;
}
.tabItem span {
  height: 48%;
  line-height: 48.5%;
  margin: 0 4%;
  display: inline-block;
}
.button {
  background-color: #7B60AA;
  border: none;
  color: #ffffff;
  font-size: 28px;
  height: 100%;
  width: 25%;
}
#ImgCon img{
  display: inline-block;
  height: 100%;
  width: 100%;
}
.parentHeight{
  height: 100%;
}
.selectTab {
  color: #7B60AA;
  border-bottom: 5px solid #7B60AA;
}
#templateCon li{
  display: none;
}
.selectImg {
  border-bottom: 6px solid #7B60AA !important;
}
#templateCon li.show {
  display: block;
}
#ImgCon {
  height: 100%;
}
#ImgCon li{
  display: none;
  height: 100%;
  list-style:none;
}
#ImgCon li.show {
  display: block;
}
